@model ShoppingWeb.Models.Product
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Dodaj produkt do listy</h3>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("Add", "List", FormMethod.Post, new { @class = "form", @id = "formLogin" }))
                            {
                                <div class="form-group">
                                    <label for="uname1">Nazwa listy</label>
                                    @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control form-control-lg rounded-0", @id = "uname1" })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>

                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Utwórz</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
