
@{
    ViewBag.Title = "Sync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto  m-4 ">
                    <div class="card rounded-0 py-5 bg-success">
                        <div class="card-body text-center">
                            <h5>
                                   Synchronizacja udana :)
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
